# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Build / output
dist
dist-ssr
out
.next
.nuxt
.vuepress/dist
.svelte-kit/
**/.vitepress/dist

# Cache
.cache
.parcel-cache
.temp
.eslintcache
.stylelintcache
.fusebox/
.docusaurus
.firebase/
**/.vitepress/cache

# Dependencies
node_modules/
jspm_packages/
bower_components
web_modules/

# TypeScript
*.tsbuildinfo

# Env files
.env
.env.*
!.env.example
*.local

# Package / misc
*.tgz
.yarn-integrity
.pnp.*

# Yarn v3
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Serverless / cloud
.serverless/
.dynamodb/

# Editor / OS
.vscode/*
!.vscode/extensions.json
.vscode-test
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
.grunt
.lock-wscript
lib-cov
.node_repl_history
.tern-port
build/Release